body{
	margin: 0px;
	padding: 0px;
	font-family: poppins;
	
}

ul{
	list-style: none;
}
a{
	text-decoration: none;
}
#main{
	
	background-color:rgb(224,255,255);
	width:100%;
	height:100vh;
	position: relative;
}
nav{
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 5px 10px 30px rgba(0,0,0,0.02);
	position: fixed;
	left: 0;
	top: 0;
	width:100%;
	z-index: 1;
	background-color: #FFFFFF;
	
}
nav ul{
	display: flex;
}
nav ul li a{
	height:40px;
	line-height: 43px;
	margin: 3px;
	padding: 0px 22px;
	display: flex;
	font-size: 0.8rem;
	text-transform: uppercase;
	font-weight: 500;
	color:#585b5b;
	letter-spacing: 1px;

}

nav ul li a:hover{

	background-color: #2adabc;
	color:#FFFFFF;
	box-shadow: 5px 10px 30px rgba(64,198,196,0.3);
	transition: all ease 0.2s;
}
.model img{
	width:100%;
	height: 100%;
	object-fit: contain;
}
.model{
	width:500px;
	height: 500px;
}
.content{
	width:90%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
}
.main-text{
	width:500px;
}
.main-text h1{
	font-size: 3.5rem;
	color:#1c3548;
	margin:0px 0px 10px 0px;
	line-height: 60px;
}
.main-text p{
	color:#747474;
}
.portfolio-btn{
	width:190px;
	height: 44px;
	display: flex;
	justify-content: center;
	align-items: center;
	color:#FFFFFF;
	background-color: #1db096;
	border-radius: 20px;
	box-shadow: 4px 10px 30px rgba(24,139,119,0.2);
}
.portfolio-btn:hover{
	background-color: #23cdaf;
	transition: all ease 0.2s;
}
#skills{
	
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:90%;
	margin:auto auto 50px auto;
}
.skill-text{
	width:400px;
}
.skill-img{
	width:600px;
	height: 600px;
}
.skill-img img{
	width:100%;
	height: 100%;
	object-fit: contain;
}
.skill-heading span{
	color:#36b7b5;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}
.skill-heading h2{
	color: #1c3548;
	font-size: 3.3rem;
	margin:0px;
	font-weight: 400;
	letter-spacing: 1px;
}
.s-box-container{
	margin-top: 30px;
}
.skill-box{
	display: flex;
	margin: 25px 0px;
}
.s-box-icon{
	margin-right:12px;
}
.s-box-icon i{
	width:40px;
	height: 40px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #f0f0f0;
	font-size: 1.1rem;
}
.s-box-text strong{
	color:#1c3548;
	margin: 0px;
	font-size: 0.9rem;
	font-weight: 600;
}
#hobby{
	border-top:5px solid #4c8;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width:90%;
	margin:auto auto 50px auto;
}
.hobby-text{
	width:400px;
}
.hobby-img{
	width:600px;
	height: 600px;
}
.hobby-img img{
	width:100%;
	height: 100%;
	object-fit: contain;
}
.hobby-heading span{
	color:#36b7b5;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-size: 1rem;
}
.hobby-heading h2{
	color: #1c3548;
	font-size: 3.3rem;
	margin:0px;
	font-weight: 400;
	letter-spacing: 1px;
}
.h-box-container{
	margin-top: 30px;
	
}
.hobby-box{
	display: flex;
	margin: 25px 0px;
}
.h-box-text strong{
	color:#1c3548;
	margin: 0px;
	font-size: 1rem;
	font-weight: 600;
}
.h-box-text p{
	font-family:'Century Gothic';
	color:#747474;
	font-size: 0.9rem;
}
#contact{
	display:flex;
	flex-direction: column;
	justify-content: center;
	border-top: 1px solid rgba(232,232,232,0.5);
	align-items: center;
	margin:40px 0px;
}
#contact h3{
	font-size:2rem;
	margin:10px;

}
#contact img{
	height:250px;
}
.contact-input{
	width:400px;
	height:50px;
	background-color:#FFFFFF;
	display:flex;
	justify-content: center;
	border-radius: 50px;
	box-shadow: 2px 2px 30px rgba(0,0,0,0.15);
}
.contact-input input{
	width:100%;
	background-color: transparent;
	border:none;
	outline: none;
	text-align: center;
	color:#242425;
}
.contact-input a{
	width:200px;
	height:35px;
	background-color:#1db096;
	color:#FFFFFF;
	display: flex;
	font-size: 0.9rem;
	justify-content: center;
	align-items: center;
	margin: auto 10px;
	border-radius: 20px;
	font-weight: 500;
}
footer{
	display:flex;
	justify-content: space-around;
	border-top: 1px solid rgba(232,232,232,0.5);
	background-color:#FFFFFF;
}
footer p{
	margin:15px 0px;
	color:#5f5f5f;
	font-size: 0.9rem;
}
